body{
font-family: sans-serif;
background-size: cover;
background-repeat: no-repeat;
background-position: center bottom;
background-attachment: fixed;
background-image: url("./background.jpg");
}

.card  {
    background-color: rgba(120, 144, 174, 0.4);
}

/* .card-title, .card-text {
    color: rgb(28, 44, 107) !important
} */