body{
font-family: sans-serif;
background-attachment: scroll;
/* background-repeat: repeat-x; */
background-position: top;
background-image: url("./background.jpg");
}

#btnEl {
    background-color: rgba(25, 25, 120)
}

#pixEl, #movie-plot {
    background-color: rgba(195, 223, 248);
}

.title-plot {
    color: rgb(30, 79, 30);
}

